<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CUIMS</display-name>
  <welcome-file-list>
    <welcome-file>Index.html</welcome-file>
    <welcome-file>Index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>Default.html</welcome-file>
    <welcome-file>Default.htm</welcome-file>
    <welcome-file>Default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Stuff Adding Servlet</description>
    <display-name>AddStuff</display-name>
    <servlet-name>AddStuff</servlet-name>
    <servlet-class>control.AddStuff</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuff</servlet-name>
    <url-pattern>/AddStuff</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Admin Login Servlet</description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>control.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Budget Checking Servlet</description>
    <display-name>CheckBudget</display-name>
    <servlet-name>CheckBudget</servlet-name>
    <servlet-class>control.CheckBudget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBudget</servlet-name>
    <url-pattern>/CheckBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitBudget</display-name>
    <servlet-name>InitBudget</servlet-name>
    <servlet-class>control.InitBudget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitBudget</servlet-name>
    <url-pattern>/InitBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuffLogin</display-name>
    <servlet-name>StuffLogin</servlet-name>
    <servlet-class>control.StuffLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuffLogin</servlet-name>
    <url-pattern>/StuffLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBudget</display-name>
    <servlet-name>UpdateBudget</servlet-name>
    <servlet-class>control.UpdateBudget</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBudget</servlet-name>
    <url-pattern>/UpdateBudget</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuffSignUp</display-name>
    <servlet-name>StuffSignUp</servlet-name>
    <servlet-class>control.StuffSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuffSignUp</servlet-name>
    <url-pattern>/StuffSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordRequisitionInfo</display-name>
    <servlet-name>RecordRequisitionInfo</servlet-name>
    <servlet-class>control.RecordRequisitionInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordRequisitionInfo</servlet-name>
    <url-pattern>/RecordRequisitionInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>util.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReqInfo</display-name>
    <servlet-name>DeleteReqInfo</servlet-name>
    <servlet-class>control.DeleteReqInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReqInfo</servlet-name>
    <url-pattern>/DeleteReqInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSelected</display-name>
    <servlet-name>DeleteSelected</servlet-name>
    <servlet-class>control.DeleteSelected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSelected</servlet-name>
    <url-pattern>/DeleteSelected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecordSentEqpInfo</display-name>
    <servlet-name>RecordSentEqpInfo</servlet-name>
    <servlet-class>control.RecordSentEqpInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordSentEqpInfo</servlet-name>
    <url-pattern>/RecordSentEqpInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSentInfo</display-name>
    <servlet-name>DeleteSentInfo</servlet-name>
    <servlet-class>control.DeleteSentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSentInfo</servlet-name>
    <url-pattern>/DeleteSentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSelectedSent</display-name>
    <servlet-name>DeleteSelectedSent</servlet-name>
    <servlet-class>control.DeleteSelectedSent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSelectedSent</servlet-name>
    <url-pattern>/DeleteSelectedSent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecPurInfo</display-name>
    <servlet-name>RecPurInfo</servlet-name>
    <servlet-class>control.RecPurInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecPurInfo</servlet-name>
    <url-pattern>/RecPurInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSelectedPurchase</display-name>
    <servlet-name>DeleteSelectedPurchase</servlet-name>
    <servlet-class>control.DeleteSelectedPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSelectedPurchase</servlet-name>
    <url-pattern>/DeleteSelectedPurchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditSelectedPurchase</display-name>
    <servlet-name>EditSelectedPurchase</servlet-name>
    <servlet-class>control.EditSelectedPurchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSelectedPurchase</servlet-name>
    <url-pattern>/EditSelectedPurchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBudgetForReq</display-name>
    <servlet-name>CheckBudgetForReq</servlet-name>
    <servlet-class>control.CheckBudgetForReq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBudgetForReq</servlet-name>
    <url-pattern>/CheckBudgetForReq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBudgetSelected</display-name>
    <servlet-name>UpdateBudgetSelected</servlet-name>
    <servlet-class>control.UpdateBudgetSelected</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBudgetSelected</servlet-name>
    <url-pattern>/UpdateBudgetSelected</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportGenerate</display-name>
    <servlet-name>ReportGenerate</servlet-name>
    <servlet-class>control.ReportGenerate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportGenerate</servlet-name>
    <url-pattern>/ReportGenerate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>control.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>